/Ciclo-III/Semana-02/Poo2/nbproject/private/
/Ciclo-III/Semana-02/Poo2/build/
.vscode
/Ciclo-III/Semana-02/Poo3/nbproject/private/
/Ciclo-III/Semana-03/Poo3/nbproject/private/
/Ciclo-III/Semana-04/Poo4/nbproject/private/
/Ciclo-III/Semana-04/Poo4/dist/
/Ciclo-III/Semana-04/Poo4/build/
/Ciclo-III/Semana-04/Gutierrez-Vega/nbproject/private/
/Ciclo-III/Semana-04/Gutierrez-Vega/build/
/Ciclo-III/Semana-04/Rodriguez-Falcon/nbproject/private/
/Ciclo-III/Semana-03/Poo3/build/
/Ciclo-III/Semana-04/Trabajo/nbproject/private/
/Ciclo-III/Semana-04/Trabajo/build/
